*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
min-height: 100dvh;
display: flex;
align-items: center;
justify-content: center;
}


main{
    
    background-color: lightblue;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 1em;
    grid-template-areas: "box1 box2 box2 box3"
                        "box1 box4 box4 box5";
}
.box1{
    background-color: yellow;
    grid-area: box1;
}
.box2{
 background-color: green;
 grid-area: box2;
}
.box3{
  background-color: pink;  
  grid-area: box3;
}
.box4{
    background-color: purple;
    grid-area: box4;
}
.box5{
    background-color: brown;
    grid-area: box5;
}
