*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
nav{
    height: 10%;
    width: 100%;
    background-color: orange;
}
main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px 150px 150px;
    gap: 20px;
}
.box1{
    background-color: yellow;
}
.box2{
 background-color: green;
}
.box3{
  background-color: pink;  
}
.box4{
    background-color: purple;
}
.box5{
    background-color: brown;
}
