*{
margin:0%;
padding:0%;
box-sizing: border-box;
font-family: arial, sans-serif;
}
html,body{
background: #111;
padding: 40px;
}
.container{
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-auto-rows: 140px;
gap: 20px;
}
