*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #111;
}

.container{
width: 90%;
max-width: 1200px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: 180px;
gap: 16px;
grid-auto-flow: dense;
}
