:root {
    --gray:#212121;
    --green: #009560;
    --white: #e9e9e9;
    --black: #0c0c0c;
    --lgrey:  #929292;
}



@font-face {
    font-family: neue;
    src: url(./fonts-images/NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
    font-family: hell;
    src: url(.fonts-images/Helvetica_NTUXwLmxSC.ttf);
}
@font-face {
    font-family: hellb;
    src: url(./fonts-images/HelveticaNowDisplay-Medium_2wEhlmo-TD.ttf);
}
@font-face {
    font-family: gil;
    src: url(./fonts-images/Gilroy-Medium_eHDK2RllDd.ttf);
}
*{
margin:0%;
padding:0%;
box-sizing: border-box;
color: var(--white);
}
html,body{
width: 100%;
height: 100%;
}
body{
    background-color: var(--black);  
}
.green{
    color: var(--green);
}
.grey{
    color: var(--lgrey);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    position: fixed;
    width: 100%; 
}
.nav1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav1 img{
    height: 40px;
}
.nav1 h4{
    font-family: neue;
    font-size: 15px;
    font-weight: 100;
}
.nav2{
    display: flex;
    align-items: center;
    gap: 50px;
    }
.nav2 h4{
    font-family: neue;
    font-size: 13px;
    font-weight: 100;

}
.nav2 h4 i{
    font-size: 20px;
}

.nav2 img{
    height: 30px;
    border-radius: 50%;
    width: 30px;
}
.nav3{
    display: none;
    align-items: center;
    gap: 30px;
    }

.nav3 h4{
    font-family: neue;
    font-size: 13px;
    font-weight: 100;

}
.nav3 img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
@media (max-width: 600px) {
    nav {
        padding: 10px 25px;
    }
    .nav1 img {
         height: 30px;
    }
    .nav1 h4{
        font-size: 12px;
    }
    .nav2 {
        display: none;
    }
    .nav3{
        display: flex;
    }
}

main{
    padding-top: 80px;
}
.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 70px;
    font-family: hellb;
}

.section1 .left{
    width: 40%;
}

.section1 .left h1{
    font-size: 38px;
    font-weight: 500;
}

.section1 .left .tags{
   display: flex;
   align-items: center;
   gap: 5px; 
   white-space: normal;
   flex-wrap: wrap;
   font-size: 11px;
   width: 75%;
}

.left .price{
    font-family: gil;
    font-size: 30px;
    margin-top: 30px;
    gap: 10px;
    align-items: baseline;
    font-weight: 600;
}
.left .price .grey{
    font-size: 22px;
}

.left .price .tax{
    font-size: 25px;
}
.left h5{
    color: var(--green);
    font-size: 15px;
}

.section1 .left .tags h4{
    background-color: var(--gray);
    padding: 10px 20px;
    border-radius: 4px;
}
.section1 .left .btn{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.left .btn button{
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: var(--green);
}
.left .btn button:nth-child(2){
    background-color: #353535;
}
.left h6{
    font-size: 15px;
    margin-top: 10px;
}
.section1 .right{
    width: 45%;
}
.section1 .right .right-in{
    width: 100%;
    border-radius: 8px;
}

.section1 .right .image{
    width: 100%;
}
.section1 .right .image img{
    width: 100%;
    
}
.section1 .right .right-in .image-bottom{
    padding: 20px;
    padding-top: 40px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.right-in .image-bottom h4{
    background-color: #151515;
    padding: 12px 15px;
    width: 48%;
    border-radius: 5px;
    font-size: 13px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width:1400px) {
    .section1 .left .h1{
        font-size: 3.5vw;
    }

    
}
@media (max-width: 800px) {
     .section1{
        flex-direction: column-reverse;
        padding: 15px 4vw;
    }
    .section1.left{
        width: 100%;
        margin-top: 30px;
    }
    .section .left h1{
        font-size: 33px;
    }
    .section1 .right .right-in{
    width: 100%;
    border-radius: 8px;
}

   
}
@media (max-width: 600px) {
    .section1{
        font-size: 5vw;   
     }
}
