:root {
    --gray:#212121;
    --green: #009560;
    --white: #e9e9e9;
    --black: #0c0c0c;
    --lgrey:  #929292;
}



@font-face {
    font-family: neue;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
    font-family: hell;
    src: url(./Helvetica_NTUXwLmxSC.ttf);
}
*{
margin:0%;
padding:0%;
box-sizing: border-box;
color: var(--white);
}
html,body{
width: 100%;
height: 100%;
}
body{
    background-color: var(--black);  
}
.green{
    color: var(--green);
}
.grey{
    color: var(--lgrey);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    position: fixed;
    width: 100%; 
}
.nav1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav1 img{
    height: 40px;
}
.nav1 h4{
    font-family: neue;
    font-size: 15px;
    font-weight: 100;
}
.nav2{
    display: flex;
    align-items: center;
    gap: 50px;
    }
.nav2 h4{
    font-family: neue;
    font-size: 13px;
    font-weight: 100;

}
.nav2 h4 i{
    font-size: 20px;
}

.nav2 img{
    height: 30px;
    border-radius: 50%;
    width: 30px;
}
.nav3{
    display: none;
    align-items: center;
    gap: 30px;
    }

.nav3 h4{
    font-family: neue;
    font-size: 13px;
    font-weight: 100;

}
.nav3 img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
@media (max-width: 600px) {
    nav {
        padding: 10px 25px;
    }
    .nav1 img {
         height: 30px;
    }
    .nav1 h4{
        font-size: 12px;
    }
    .nav2 {
        display: none;
    }
    .nav3{
        display: flex;
    }
}

main{
    padding-top: 80px;
}
.section1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 70px;
    font-family: hell;
}

.section1 .left{
    width: 42%;
}

.section1 .left h1{
    font-size: 40px;
}

.section1 .left .tags{
   display: flex;
   align-items: center;
   gap: 8px; 
   margin: 15px 0;
   white-space: nowrap;
   flex-wrap: wrap;
   font-size: 13px;
}

.left .price{
    font-size: 31px;
    gap: 5px;
    font-weight: 600;
}
.left .price .grey{
    font-size: 22px;
}

.left .price .tax{
    font-size: 25px;
}

.section1 .left .tags h4{
    background-color: var(--gray);
    padding: 10px 20px;
    border-radius: 4px;
}
.section1 .right{
    width: 42%;
}